/aclocal.m4
/autoscan.log
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

/autom4te.cache/

Makefile
Makefile.in

*~
*.o
*.tar.gz

.deps/

/src/tuncat
/tuncat.spec