/aclocal.m4
/compile
/config.h
/config.h.in
/config.status
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

/autom4te.cache/

Makefile
Makefile.in

*~
*.o
*.tar.gz
*.log

.deps/
/docs/

/src/tuncat
/tuncat.spec